{% extends 'base.html.twig' %}

{% block body %}
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3">
        {{ include('partials/card.html.twig') }}
        {{ include('partials/card.html.twig') }}
        {{ include('partials/card.html.twig') }}
        {{ include('partials/card.html.twig') }}
        {{ include('partials/card.html.twig') }}
        {{ include('partials/card.html.twig') }}
        {{ include('partials/card.html.twig') }}
        {{ include('partials/card.html.twig') }}
    </div>
{% endblock %}
